---
---

{% include top.html %}

<body>

	{% include header.html %}

	<div id="body">
		<h1><span>My Media</span></h1>
		<div id="projects">
			<h2>useR 2016</h2>
			<p>
				Empowering Business Users with Shiny
			</p>	
			<ul>
				<li>
					<a href="http://schedule.user2016.org/event/7BXU/empowering-business-users-with-shiny" target="_blank">Abstract</a>
				</li>
				<li>
					<a href="https://derek-damron.github.io/presentations/useR_2016/empowering_business_users_with_shiny.pdf" target="_blank">Slides</a>
				</li>
			</ul>
		</div>
	</div>

	{% include footer.html %}
	
</body>
</html>

