---
---

{% include top.html %}

<body>

	{% include header.html %}

	<div id="body">
		<h1><span>My Media</span></h1>
		<div id="projects">
			<h2>useR 2016</h2>
			<p>
				Empowering Business Users with Shiny
			</p>	
			<ul>
				<li>
					<a href="http://schedule.user2016.org/event/7BXU/empowering-business-users-with-shiny" target="_blank">Abstract</a>
				</li>
				<li>
					<a href="https://derek-damron.github.io/presentations/useR_2016/empowering_business_users_with_shiny.pdf" target="_blank">Slides</a>
				</li>
			</ul>
			
			<h2>Managing Your Projects</h2>
			<p>
				Presentation given to Allstate data science interns on July 26, 2016.
			</p>	
			<ul>
				<li>
					<a href="https://derek-damron.github.io/presentations/managing_your_projects/slides_static.html" target="_blank">Static slides</a> (i.e. no transitions)
				</li>
				<li>
					<a href="https://derek-damron.github.io/presentations/managing_your_projects/slides_dynamic.html" target="_blank">Dynamic slides</a> (i.e. with transitions)
				</li>
			</ul>
			
			<h2>The budgetr Package</h2>
			<p>
				Presentation given at the Bay Area useR Group (BARUG) meetup in Mountain View, CA on September 13, 2016.
			</p>	
			<ul>
				<li>
					<a href="http://www.meetup.com/R-Users/events/233411946/" target="_blank">Abstract</a>
				</li>
				<li>
					Slides - Coming Soon!
				</li>
			</ul>
		</div>
	</div>

	{% include footer.html %}
	
</body>
</html>

