---
---

<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gallery Single Post - Mustache Enthusiast</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css" media="screen and (max-width : 568px)">
	<link rel="shortcut icon" type="image/png" href="img/icon_blackcat_16.png">
	<script type="text/javascript" src="js/mobile.js"></script>
</head>
<body>

	{% include header.html %}

	<div id="body">
		<h1><span>Coming Soon!</span></h1>
		<!--
		<div>
			<img src="images/prim-and-proper.jpg" alt="">
			<div class="article">
				<h4>PRIM AND PROPER</h4>
				<p>
				Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.
				</p>
			</div>
		</div>
		-->
	</div>

	{% include footer.html %}
	
</body>
</html>
