<div id="footer">
	<div>
		<p>
			&copy; 2016 Derek Damron. All rights reserved.
			<br>
			Website template borrowed heavily from <a href="http://www.freewebsitetemplates.com" target="_blank">freewebsitetemplates</a>.
			<br>
			Favicon made by Freepik from <a href="http://www.flaticon.com" target="_blank">flaticon</a>.
		</p>
		<ul>
			<li>
				<a href="https://www.linkedin.com/in/derekdamron" id="linkedin" target="_blank">LinkedIn</a>
			</li>
			<li>
				<a href="https://github.com/derek-damron" id="github" target="_blank">GitHub</a>
			</li>
		</ul>
	</div>
</div>