<div id="header">
	<div id="name">
		<a href="index.html" class="logo">
			Derek Damron
		</a>
	</div>
	<ul id="navigation">
		<li class="{% if page.title == 'Home' %}selected{% endif %}">
			<a href="index.html">Home</a>
		</li>
		<li class="{% if page.title == 'Background' %}selected{% endif %}">
			<a href="background.html">Background</a>
		</li>
		<li class="{% if page.url contains 'projects' %}selected{% endif %}">
			<a href="projects.html">Projects</a>
		</li>
		<li class="{% if page.url contains 'media' %}selected{% endif %}">
			<a href="media.html">Media</a>
		</li>
		<li class="{% if page.url contains 'blog' %}selected{% endif %}">
			<a href="blog.html">Blog</a>
		</li>
	</ul>
</div>